extends layout

block content
  if errors
    each err in errors
      h1.title Error in request #{err.location}. #{err.msg}
  else
    h1.title= message
    h2.subtitle= error.status
    pre #{error.stack}
