extends ../layout

block content
    - console.log(errors, request)
    // Each input tag can receive either the is-success or is-danger class depending on validation result. The control div needs has-icons-right for the corresponding icons. There are also examples below of where icon and help messages should appear.
    // I think I've been using the wrong form encoding. I was using multipart.
    .column.is-4
        
        form.form-horizontal(method='POST' action='/sign-up' enctype='x-www-form-urlencoded')
            fieldset
                legend.title Create Account       
                p All fields are required.
                br
                .first-name.field
                    label.label(for='firstName') First Name
                    .control.has-icons-left
                        input.input(
                            autocomplete="first-name" 
                            name='firstName' 
                            placeholder='First name' 
                            required='required' 
                            type='text' 
                            value=`${errors ? request.firstName : ""}`
                        )
                        if errors
                            each error in errors
                                - console.log(error.msg)
                                - var isFName = (error.param === "firstName") ? true : false
                                if isFName
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`

                .last-name.field
                    label.label(for='lastName') Last Name
                    .control.has-icons-left
                        input.input(
                            autocomplete="last-name" 
                            name='lastName' 
                            placeholder='Last name' 
                            required='required' 
                            type='text' 
                            value=`${errors ? request.lastName : ""}`
                        )
                        if errors
                            each error in errors
                                - var isLName = error.param === "lastName" ? true : false
                                if isLName
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`

                .email.field
                    label.label(for='emailAddress') Email
                    .control.has-icons-left
                        input.input(
                            autocomplete="email" 
                            name='emailAddress' 
                            placeholder='Email address' 
                            required='required' 
                            type='email' 
                            value=`${errors ? request.emailAddress : ""}`
                        )
                        span.icon.is-small.is-left
                            i.fas.fa-envelope
                        if errors
                            each error in errors
                                - var isEmail = error.param === "emailAddress" ? true : false
                                if isEmail
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`

                .username.field
                    label.label(for='username') Username
                    .control.has-icons-left
                        input.input(
                            autocomplete="username" 
                            max-length='16' 
                            min-length='4' 
                            name='username' 
                            placeholder='Username' 
                            required='required' 
                            type='text' 
                            value=`${errors ? request.username : ""}`
                        )
                        span.icon.is-small.is-left
                            i.fas.fa-user
                        if errors
                            each error in errors
                                - var isUsername = (error.param === "username") ? true : false
                                if isUsername
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`

                .password.field
                    label.label(for='password') Password
                    .control.has-icons-left
                        input.input(
                            autocomplete="new-password" 
                            id='password' 
                            max-length='16'
                            min-length='8' 
                            name='password' 
                            placeholder='********' 
                            required='required' 
                            type='password' 
                        )
                        span.icon.is-small.is-left
                            i.fa.fa-lock
                        if errors    
                            each error in errors
                                - var isPasswd = (error.param === "password" && error.msg.length > 0) ? true : false
                                if isPasswd
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`
                
                .password.field
                    label.label(for='passwordConfirmation') Confirm Password
                    .control.has-icons-left
                        input.input(
                            autocomplete="new-password" 
                            id='passwordConfirmation' 
                            max-length='16'
                            min-length='8' 
                            name='passwordConfirmation' 
                            placeholder='********' 
                            required='required' 
                            type='password' 
                        )
                        span.icon.is-small.is-left
                            i.fa.fa-lock
                        if errors    
                            each error in errors
                                - var isPasswdConf = error.param === "passwordConfirmation" ? true : false
                                if isPasswdConf
                                    span.icon.is-small.is-right.has-text-danger
                                        i.fas.fa-exclamation-triangle
                                    p.help.is-danger=`${error.msg}`

                .field.is-grouped
                    .control
                        button.button.is-link(type="submit") Submit
                    .control
                        button.button.is-link.is-light Cancel
