extends ../layout

block content

    h2= pageTitle
    - console.log(results)
    each row in results
        p #{row.username} #{row.email}  
            a(href=`/user/${green_user_id}/edit`) Edit | 
            a(href=`/user/${green_user_id}/delete`) Delete
